<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- IMU Covariance Generator -->
  <node name="covariance" pkg="extended_kalman_filter" type="covariance" output="screen"/>

  <!-- Transform -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base" args="-3.8 3.8 1 1.57 0.0 1.57 /base_link /base 40" />

  <!-- EKF Localization -->
  <node name="ekf" pkg="extended_kalman_filter" type="ekf" output="screen"/> 

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find extended_kalman_filter)/config/rviz.rviz" />

</launch>
